<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.database.mybatis.dao.ClassRoomMapper">
    <cache/>
    <select id="selectClassRoomById" resultType="demo.database.mybatis.entity.ClassRoom">
        select *
        from class_room
        where id = #{id}
    </select>

</mapper>