<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.database.mybatis.dao.UserMapper">
    <cache/>
    <update id="updateUser">
        update user
        set age=#{age}
        where id = #{id}
    </update>

    <select id="selectUserById" resultType="demo.database.mybatis.entity.User"
            parameterType="java.lang.Integer">
        select *
        from user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="demo.database.mybatis.entity.User">
        INSERT INTO user (name, age)
        VALUES (#{name}, #{age})
    </insert>

    <delete id="deleteAllUsers">
        delete from user
    </delete>

    <insert id="insertBatch">
        INSERT INTO user
        (name, age)
        VALUES
        <foreach collection="userList" item="user" separator=",">
            #{name}, #{age})
        </foreach>
    </insert>

</mapper>