<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tagTest="http://www.test.com/schema/ch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.test.com/schema/ch http://www.test.com/schema/ch.xsd">

    <tagTest:springXmlTag id="springXmlTag" name="springXmlTag"/>

</beans>