<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="demo.entity.Person">
        <property name="name" value="test1"/>
    </bean>

    <bean id="parent" class="demo.entity.ParentFactoryBean">
    </bean>

    <bean id="expandPointTest" class="demo.expandpoint.ExpandPoint" init-method="init">
        <property name="name" value="name_xml"/>
    </bean>

    <bean id="testBeanFactoryPostProcessor" class="demo.expandpoint.TestBeanFactoryPostProcessor">
    </bean>

    <bean id="testBeanPostProcessor" class="demo.expandpoint.TestBeanPostProcessor">
    </bean>
</beans>